<!-- /.widget -->
<section class="widget">
    <h4 class="widgettitle">Admin - Content</h4>
    <ul>
        <li><a href="/admin/machines">Machines {% if obj_counts != "api_error" %} ({% print obj_counts[0]['machine_count'] %}) {% endif %}</a></li>
        <li><a href="/admin/locations">Locations {% if obj_counts != "api_error" %} ({% print obj_counts[0]['location_count'] %}) {% endif %}</a></li>
        <li><a href="/admin/players">Players {% if obj_counts != "api_error" %} ({% print obj_counts[0]['player_count'] %}) {% endif %}</a></li>
    </ul>
</section>

<!-- /.widget -->

<section class="widget">
    <h4 class="widgettitle">Admin - Config</h4>
    <ul>
        <li><a href="#">Tournaments</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">Matches/Scoring</a></li>
    </ul>
</section>