<!-- /.widget -->
<section class="widget">
    <h4 class="widgettitle">Admin - Content</h4>
    <ul>
        <li><a href="/admin/machines">Machines</a></li>
        <li><a href="/admin/locations">Locations</a></li>
        <li><a href="/admin/players">Players </a></li>
    </ul>
</section>

<!-- /.widget -->

<section class="widget">
    <h4 class="widgettitle">Admin - Config</h4>
    <ul>
        <li><a href="#">Tournaments</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">Matches/Scoring</a></li>
    </ul>
</section>