{% extends "layout.html" %}

{% block additional_includes %}
<link href="{{ url_for('static', filename='styles/lib/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='styles/lib/responsive.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ url_for('static', filename='styles/lib/magnific-popup.css') }}" rel="stylesheet" type="text/css" />

<style>
.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  z-index: 1000000;
}
</style>

<script src="{{ url_for('static', filename='scripts/lib/jquery-3.5.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/lib/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/lib/dataTables.responsive.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
//<!--
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    // Show player details
    function show_player(player_id) {
        // Start by clearing form of any previous data
        initialize_player_form()

        // Editing player
        if (player_id != "") {
	        $.getJSON($SCRIPT_ROOT + '/admin/_admin_player_info', {
	            player_id: player_id
	        }, function(data) {
                // Jquery thing that isn't working
		        //$("#name").value("TEST VALUE");

                // Set headers
                if (data.nick != "") {
                    document.getElementById("rendered_player_header").innerHTML = data.name + " (" + data.nick + ")";
                }
                else {
                    document.getElementById("rendered_player_header").innerHTML = data.name;
                }
                document.getElementById("rendered_player_subheader").innerHTML = "Edit player info";

                // Populate fields with existing data for editing
		        document.getElementById("player_id").value = data.player_id;
		        document.getElementById("name").value = data.name;
		        document.getElementById("nick").value = data.nick;
		        document.getElementById("phone").value = data.phone;
		        document.getElementById("email").value = data.email;
		        document.getElementById("location").value = data.location;
		        document.getElementById("ifpanumber").value = data.ifpanumber;
		        document.getElementById("pinside").value = data.pinside;
		        document.getElementById("notes").value = data.notes;

		        // Select correct status value
		        select('status', data.status)

		        // Select correct active value
		        select('active', data.active)

		        document.getElementById("save_button").value = "Save Player";
		        document.getElementById("save_button").name = "edit_player";

		        document.getElementById("operation").value = "edit";
	        });
	    }
		// Adding new player
		else {
		    document.getElementById("rendered_player_header").innerHTML = "Add New Player"
		    document.getElementById("rendered_player_subheader").innerHTML = "Create new entry"

		    document.getElementById("save_button").value = "Add Player";
		    document.getElementById("save_button").name = "add_player";

            document.getElementById("operation").value = "add";
		}
    }

    // Popup confirmation for player delete
    function delete_confirm(player_id, name) {
        document.getElementById("remove_player_name").innerHTML = name;

        document.forms['delete_form'].elements["player_id"].value = player_id;
        document.forms['delete_form'].elements["name"].value = name;
        document.forms['delete_form'].elements["operation"].value = "delete";

    }

    // Handle Add/Editing Player
    function save_player() {
        operation = document.getElementById("save_button").name

        if (operation == "edit_player") {
            $.post($SCRIPT_ROOT + '/admin/_update_player', {
	            player_id: document.getElementById("player_id").value,
	            name: document.getElementById("name").value,
	            nick: document.getElementById("nick").value,
	            phone: document.getElementById("phone").value,
	            email: document.getElementById("email").value,
	            location: document.getElementById("location").value,
	            ifpanumber: document.getElementById("ifpanumber").value,
	            pinside: document.getElementById("pinside").value,
	            notes: document.getElementById("notes").value,
	            status: document.getElementById("status").value,
	            active: document.getElementById("active").value
	        }, function(data) {

	        });
        }
        else {
            $.post($SCRIPT_ROOT + '/admin/_add_player', {
	            name: document.getElementById("name").value,
	            nick: document.getElementById("nick").value,
	            phone: document.getElementById("phone").value,
	            email: document.getElementById("email").value,
	            location: document.getElementById("location").value,
	            ifpanumber: document.getElementById("ifpanumber").value,
	            pinside: document.getElementById("pinside").value,
	            notes: document.getElementById("notes").value,
	            status: document.getElementById("status").value,
	            active: document.getElementById("active").value
	        }, function(data) {

	        });
        }
    }

    // Update player status
    function set_status(player_id, status) {
	    $.getJSON($SCRIPT_ROOT + '/admin/_update_player_status', {
	        player_id: player_id,
	        status: status
	    }, function(data) {

	    });
    }

    // Update player active
    function set_active(player_id, active) {
	    $.getJSON($SCRIPT_ROOT + '/admin/_update_player_active', {
	        player_id: player_id,
	        active: active
	    }, function(data) {

	    });
    }

    function initialize_player_form() {
        document.getElementById("rendered_player_header").innerHTML = ""
		document.getElementById("rendered_player_subheader").innerHTML = ""
        document.getElementById("player_id").value = "";
		document.getElementById("name").value = "";
		document.getElementById("nick").value = "";
		document.getElementById("phone").value = "";
		document.getElementById("email").value = "";
		document.getElementById("location").value = "";
		document.getElementById("ifpanumber").value = "";
		document.getElementById("pinside").value = "";
		document.getElementById("notes").value = "";
		select('status', 0)
		select('active', 'true')
    }

    function select(selectId, optionValToSelect) {
        //Get the select element by it's unique ID.
        var selectElement = document.getElementById(selectId);
        //Get the options.
        var selectOptions = selectElement.options;
        //Loop through these options using a for loop.
        for (var opt, j = 0; opt = selectOptions[j]; j++) {
            //If the option of value is equal to the option we want to select.
            if (String(opt.value) == String(optionValToSelect)) {
                //Select the option and break out of the for loop.
                selectElement.selectedIndex = j;
                break;
            }
        }
    }
//-->
</script>

<script type="text/javascript" charset="utf-8">
//<!--
$(document).ready(function() {
    $('#player-table').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        paging: false,
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: 'none',
                target: ''
            }
        }
    } );
} );
//-->
</script>

{% endblock %}

{% block body %}
<article class="post clearfix">

    <header>
        <h1 class="post-title"><a href="#">Players</a></h1>
        <p class="post-meta"><time class="post-date" datetime="2011-05-08" pubdate>May 8, 2011</time> <em>in</em> <a href="#">Category</a></p>
    </header>
    <p><h3>Manage Players</h3></p>
    <p>Add, update, and delete player profiles.  These players can join tournaments.</p>

    <table id="player-table" class="display nowrap" style="width:100%">
        <thead>
        <tr> <th></th> <th>Name</th> <th>Initials</th> <th>IFPA#</th> <th>Paid?</th> <th>Active</th> </tr>
        </thead>
        <tbody>
        {% if player_data != "api_error" %}
        {% for player in player_data %}
        <tr>
            <td>
                <a href="#admin-player-modal" class="open-popup-link" onclick="javascript:show_player({{ player['player_id'] }});">Edit</a>&nbsp;|&nbsp;
                <a href="#delete-player-modal" class="open-popup-link" onclick="javascript:delete_confirm({{ player['player_id'] }}, '{{ player['name'] }}');">Delete</a>
            </td>
            <td>{{ player['name'] }}</td>
            <td>{{ player['nick'] }}</td>
            <td>{{ player['ifpanumber'] }}</td>
            <td>
                <select name="ispaid-{{ player['player_id'] }}" onchange="javascript:set_status(this.name.substring(this.name.indexOf('-')+1,this.name.length), this.value);">
                    <option value="1"{% if player['status'] == 1 %} selected{% endif %}>Paid</option>
                    <option value="0"{% if player['status'] == 0 %} selected{% endif %}>Not Paid</option>
                </select>
            </td>
            <td>
                <select name="isactive-{{ player['player_id'] }}" onchange="javascript:set_active(this.name.substring(this.name.indexOf('-')+1,this.name.length), this.value);">
                    <option value="true"{% if player['active'] == True %} selected{% endif %}>Yes</option>
                    <option value="false"{% if player['active'] == False %} selected{% endif %}>No</option>
                </select>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr> <td>No entries.</td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="#admin-player-modal" class="open-popup-link" onclick="javascript:show_player('');">Add New Player</a>

    <!--Modal for adding/editing player-->
    <div id="admin-player-modal" class="white-popup-block mfp-hide" style="max-width:600px; margin: 20px auto;">
        <h1 id="rendered_player_header"></h1>
        <div>
        <p id="rendered_player_subheader"></p>

        <form action="/admin/players" id="player_form" name="player_form" method="POST">
        {{ playerform.hidden_tag() }}
        <p><b>Name: </b>{{ playerform.name }}</p>
	    <p><b>Initials: </b>{{ playerform.nick }}</p>
        <p><b>Email: </b>{{ playerform.email }}</p>
        <p><b>Phone: </b>{{ playerform.phone }}</p>
        <p><b>Location: </b>{{ playerform.location }}</p>
        <p><b>IFPA Number: </b>{{ playerform.ifpanumber }}</p>
        <p><b>Pinside: </b>{{ playerform.pinside }}</p>
	    <p><b>Notes: </b>{{ playerform.notes }}</p>
	    <p><b>Dues Paid? </b>{{ playerform.status }}</p>
	    <p><b>Active? </b>{{ playerform.active }}</p>

        <input type="submit" id="save_button" name="add_player" value="Add Player" />
        </form>

        </div>
    </div>

    <!--Modal for removing player-->
    <div id="delete-player-modal" class="white-popup-block mfp-hide" style="max-width:600px; margin: 20px auto;">
        <h1>Deleting player <span id="remove_player_name"></span></h1>
        <div>
            <p>Are you sure you want to delete the player?  This action is permanent.</p>
            <form action="/admin/players" id="delete_form" name="delete_form" method="POST">
                {{ playerdeleteform.hidden_tag() }}
                <input type="submit" value="Delete!" />
                <input type="button" value="Cancel" class="popup-modal-dismiss" />
            </form>
        </div>
    </div>

    <script type="text/javascript">
    //<!--
      $(document).ready(function() {
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.

        });
        $(document).on('click', '.popup-modal-dismiss', function (e) {
          e.preventDefault();
          $.magnificPopup.close();
        });
      });
    //-->
    </script>
</article>
<!-- /.post -->

{% endblock %}

{% block sidebar %}
    {% include('player-sidebar.html') %}

    {% include('admin-sidebar.html') %}
{% endblock %}