{% extends "layout.html" %}

{% block additional_includes %}
<link href="{{ url_for('static', filename='styles/lib/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='styles/lib/responsive.dataTables.min.css') }}" rel="stylesheet" type="text/css" />

<script src="{{ url_for('static', filename='scripts/lib/jquery-3.5.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/lib/dataTables.responsive.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
//<!--
$(document).ready(function() {
    $('#example').DataTable( {
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: 'none',
                target: ''
            }
        }
    } );
} );
//-->
</script>
{% endblock %}

{% block body %}
<article class="post clearfix">

    <header>
        <h1 class="post-title"><a href="#">Machines</a></h1>
        <p class="post-meta"><time class="post-date" datetime="2011-05-08" pubdate>May 8, 2011</time> <em>in</em> <a href="#">Category</a></p>
    </header>
    <figure class="post-image">
        <img src="{{ url_for('static', filename='images/dt-3.jpg') }}" />
    </figure>
    <p><h3>All known machines in the database</h3></p>
    <p>These are all the machines that are available to assign to locations.  Add, Edit, and Delete machines.</p>


    <table id="example" class="display nowrap" style="width:100%">
        <thead>
        <tr> <th>Name</th> <th>Abbr</th> <th>Manufacturer</th> <th>Date</th> <th>Players</th> <th>Type</th> <th>Theme</th> <th>IPDB</th> </tr>
        </thead>
        <tbody>
        {% if machine_data != "api_error" %}
        {% for machine in machine_data %}
        <tr> <td>{{ machine['name'] }}</td> <td>{{ machine['abbr'] }}</td> <td>{{ machine['manufacturer'] }}</td> <td>{{ machine['manDate'] }}</td> <td>{{ machine['players'] }}</td> <td>{{ machine['gameType'] }}</td> <td>{{ machine['theme'] }}</td> <td>{{ machine['ipdbURL'] }}</td> </tr>
        {% endfor %}
        {% else %}
        <tr><td>No entries.</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% endif %}
        </tbody>
    </table>

</article>
<!-- /.post -->

{% endblock %}

{% block sidebar %}
    {% include('player-sidebar.html') %}

    {% include('admin-sidebar.html') %}
{% endblock %}