<meta charset="utf-8">

<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<title>DropTarget: {% print title %}</title>

<!-- main css -->
<link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css">

<!-- media queries css -->
<link href="{{ url_for('static', filename='styles/media-queries.css') }}" rel="stylesheet" type="text/css">

<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='scripts/lib/html5shiv.js') }}"></script>
<![endif]-->

<!-- css3-mediaqueries.js for IE less than 9 -->
<!-- https://github.com/heathcliff/css3-mediaqueries-js -->
<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='scripts/lib/css3-mediaqueries.min.js') }}"></script>
<![endif]-->